
#custom, #name-header {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}

#name-header {
    letter-spacing: 5px;
}

.circle {
    background-color: #e6563b;
    border-radius: 50%;
    color: #fff;
    display: block;
    /*height: 100%;*/
    overflow: hidden;
    padding-top: 105px;
    position: relative;
    width: 105px;

}


.one-to-one {
    width: 105px;
    height: 105px;
    /*padding-top: calc(100% - 16px);
     !* Subtract Borders *!*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #4b5263;*/
    border: 10px solid #f0f0f0;
    border-radius: 50%;
}

.text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-1 {
    background-color: #e6563b;
    color: white;
}

.color-2 {
    background-color: #eb9d3a;
    color: white;
}

.color-3 {
    background-color: #7cb06c;
    color: white;
}

.color-4 {
    background-color: #00aba9;
    color: white;
}

hr {
    width:100%;
    background-color: #E6E6E6;
    padding: 2px;
    border: none;
    margin-top: 30px;
}

img {
    border: 8px solid #E6E6E6;
    border-radius: 7px;

}

.pill-color1 {
    background-color: #e6563b;
    height: 18px;
    width: 18px;
}
.pill-color2 {
    background-color: #eb9d3a;
    height: 18px;
    width: 18px;
}
.pill-color3 {
    background-color: #7cb06c;
    height: 18px;
    width: 18px;
}
.pill-color4 {
    background-color: #00aba9;
    height: 18px;
    width: 18px;
}

.card {
    border: none;
    display: flex;
    justify-content: space-between;

}

.last {

}